$blue: #150f7d;
$white: #fff;
$yellow: #ffe325;
$red: #ff0000;
$transparentWhite: #ffffff47;
$lightGrey: #d4d4d4;
$grey: #adacac;
$greyShadow: #808080b8;
$searchButtonBg: #ffffffad;
$blueLight: #5239ad;
$blueDark: #000050;
$lightBlueShadow: #f0f8ff;
$transparentBlack: #000000d4;
$cardShadow: #001358bf;
$lightBlue: #abd5fc;
$darkGrey: #252525;
