@import "../../sass/colors.scss";
@import "../../sass/breakpoints.scss";
@import "../../sass/transitions.scss";

.country-page__gallery_rating {
  padding: 0.5rem;
  background-color: $cardShadow;
  position: absolute;
  right: 0;
  top: 7%;
  height: 2.2rem;
  z-index: 5;
  border-radius: 5px 0 0 5px;

  .star.yellow {
    color: $yellow;
    font-size: 1.2rem;
    cursor: pointer;
    transition: $color-transition;
    &:hover {
      transform: scale(1.2);
    }
  }
  .show-ratings {
    color: $yellow;
    font-size: 1.2rem;
    background: transparent;
    cursor: pointer;
    border-radius: 50%;
    margin-left: 1rem;
    transition: $color-transition;
    outline: none;
    &:hover {
      transform: scale(1.2);
    }
  }
  .rating-list {
    position: absolute;
    right: 0.5rem;
    top: 0;
    width: 300px;
    height: 300px;
    overflow-y: auto;
    background-color: $lightGrey;
    border-radius: 5px;
    box-shadow: 0 0 5px 2px $cardShadow,
    inset 0 0 2px 2px $blueLight;
    padding: 0.5rem;

    @media screen and (max-width: $size-xs) {
      width: 280px;
    }
  }
}
