@import '../../sass/colors.scss';
@import '../../sass/breakpoints.scss';

.country-page__widget {
  &_time {
    width: 300px;
    padding: 11px;
    border-radius: 5px;
    box-shadow: 0px 2px 7px 1px $transparentBlack;
    max-height: 95px;
    margin-bottom: 7px;
  }
  .time {
    font-size: 2rem;
    color: $blue;
    font-family: 'Nova Mono', monospace;
    margin-bottom: 5px;
  }
  .date {
    font-size: 0.9rem;
    &__weekday {
      margin-right: 0.5rem;
    }
  }
}
