.load-label {
  width: 100%;
  text-align: center;
  margin-bottom: auto;
  cursor: pointer;
  padding: 10px;
  color: #f8f8f8;
  font-size: 20px;
  background-color: cornflowerblue;
}

.file-input {
  display: none;
}
