@import '../../sass/breakpoints.scss';
@import '../../sass/colors.scss';

.exchange-rates-widget {
  padding: 10px 20px;
  width: 180px;
  height: fit-content;
  font-family: 'Roboto', 'Open Sans', monospace;
  font-size: 14px;
  text-align: center;
  background: $white;
  box-shadow: 0px 2px 7px 1px $transparentBlack;
  border-radius: 5px;

  &__title {
    margin-bottom: 10px;
    font-weight: 700;
  }

  &__list {
    &-item {
      margin: 5px 0;
      display: flex;
      justify-content: space-between;
    }
  }

  &__currency {
    text-align: left;
  }

  &__value {
    text-align: right;
  }
}