@import '../../sass/breakpoints.scss';
@import '../../sass/colors.scss';
@import '../../sass/transitions.scss';

.exchange-rates-widget {
  padding: 10px 15px;
  min-width: 150px;
  min-height: 113px;
  height: fit-content;
  font-family: 'Roboto', 'Open Sans', monospace;
  font-size: 14px;
  text-align: center;
  background: $white;
  box-shadow: 0px 2px 7px 1px $transparentBlack;
  border-radius: 5px;
  position: relative;

  @media (max-width: $size-lg) {
    padding: 10px;
    min-width: 140px;
  }

  @media (max-width: $size-sm) {
    padding: 10px 15px;
  }

  @media (max-width: $size-xs) {
    padding: 10px 45px;
    width: 80%;

    &__list {
      margin: auto;
      width: fit-content;
    }

    &__list-item {
      width: 150px;
    }
  }

  &__reload-btn {
    margin: 10px 0;
    font-size: 18px;
    color: $grey;
    border: none;
    background: transparent;
    outline: none;
    transition: $color-transition;
    cursor: pointer;

    &:hover {
      color: $blue;
    }
  }

  &__spinner {
    margin-top: 10px;
    font-size: 20px;
    color: $grey;
    display: inline-block;
  }

  &__title {
    margin-bottom: 15px;
    font-weight: 700;
  }

  &__list {
    &-item {
      margin: 5px 0;
      display: flex;
      justify-content: space-between;

      &:hover {
        background-color: $lightGrey;
      }
    }
  }

  &__currency {
    text-align: left;
  }

  &__value {
    text-align: right;
  }
}
