@import "./../../sass/breakpoints.scss";
$blue: #150f7d;
$white: #fff;
$yellow: #ffe325;
$red: #ff0000;
$transparentWhite: #ffffff47;
$lightGrey: #d4d4d4;
$grey: #adacac;
$greyShadow: #808080b8;
$searchButtonBg: #ffffffad;

.app-footer {
  background-color: $lightGrey;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: $size-lg) {
    

  }
  @media screen and (max-width: $size-md) {
    flex-direction: column;
    padding: 16px;
  }

  .footer {
    &-links {
      color: $blue;
      display: flex;
      align-items: center;

      @media screen and (max-width: $size-md) {
        flex-direction: column;
        margin-bottom: 10px;
      }

      span {
        margin-right: 4px;
        font-size: 16px;
        font-weight: 700;

        @media screen and (max-width: $size-md) {
          margin-bottom: 10px;
        }
        @media screen and (max-width: $size-lg) {
          font-size: 14px;
        }
      }
      .footer-link {
        margin: 0 10px;
        border-radius: 4px;
        color: $blue;
        font-size: 16px;
        display: flex;
        align-items: center;
        padding: 6px;
        transition: 0.3s ease-in-out;
        font-weight: 700;
        text-decoration: none;
        height: 24px;
        cursor: pointer;
        &:hover {
          background-color: $searchButtonBg;
        }
        @media screen and (max-width: $size-lg) {
          font-size: 14px;
        }
      }
        
        .footer-link-icon {
          margin-right: 5px;
          margin-right: 5px;
          background: $blue;
          border-radius: 50%;
        }
      
    }

    &-course {
      padding: 4px 6px;
      background-color: $searchButtonBg;
      transition: 0.3s ease-in-out;
      border-radius: 4px;
      &:hover {
        box-shadow: 0 0 4px 5px $searchButtonBg;
      }
    }

    &-course-link {
      display: block;
      width: 64px;

      @media screen and (max-width: $size-md) {
        padding-left: 6px;
      }
    }
  }
}
