.search {
  display: flex;
  flex-grow: 2;

  &__input-wrapper {
    width: 100%;
    position: relative;
    color: #c5c2c2;

    &:hover {
      color: #fff;
    }
  }

  &__input {
    padding: 5px;
    width: 100%;
    color: #c5c2c2;
    background-color: #ffffff47;
    border: none;
    border-radius: 5px;
    position: relative;
    outline: none;
  
    &::placeholder {
      color: #c5c2c2;
    }

    &:hover {
      color: #fff;

      &::placeholder {
        color: #fff;
      }  
    }
  }

  &__delete-icon {
    font-size: 12px;
    color: inherit;
    background: transparent;
    border-radius: 5%;
    border: none;
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translate(0, -50%);
    cursor: pointer;

    &:hover {
      color: #ff0000;
    }

    i {
      vertical-align: middle;
    }
  }
  &__button {
    width: 28px;
    height: 100%;  
    background-color: #ffffffad;
    border: none;
    border-radius: 5px;  
    vertical-align: middle;
    outline: none;
    cursor: pointer;

    &:hover {
      background-color: #ffe325;
    }
  }
}
