:root {
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  position: relative;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

li {
  list-style: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

#root {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.App {
  // padding: 30px;
  background-color: blanchedalmond;
  min-width: 100%;
  min-height: 100vh;
  display:grid;
  grid-template-rows: 60px 1fr 50px;
}
